<div class="container-fluid" ng-controller="NavbarCtrl" id="top-nav">
  <!-- <div class="navbar-outer"> -->
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="clemence torres artist">
    </div>

    <ul class="list-inline main-menu">
      <li><a href="1-exhibitions">Exhibitions</a></li>
      <li aria-role="presentation"><img src="/assets/images/separator.svg"></li>
      <li><a href="1-works">Works</a></li>
      <li aria-role="presentation"><img src="/assets/images/separator.svg"></li>
      <li><a href="1-press">Press</a></li>
      <li aria-role="presentation"><img src="/assets/images/separator.svg"></li>
      <li><a href="1-bio-portfolio">Bio & Portfolio</a></li>
      <li class="language"><a href="">en</a></li>
    </ul>
  <!-- </div> -->
</div>
